
.locations
{
    font-family: Georgia, 'Times New Roman', Times, serif
}
.cityClass
{
    border-top:2px solid white;
    border-bottom:2px solid white;
}
footer
{
    
    height: 50px;
    margin:0;
    padding-bottom:10px;
}
.navbar-nav
{
    width:100%;
}
.navbar {
    border-radius: 0;
    background-color:#1E1E1E;
    margin:0;
    padding:0;
  }
  .lists
  {
      float: left;
      font-size: 15px;
      font-weight: bolder;
      height: 50px;
  } 
   .lists a,#loginUser
  {
      display: block;
      padding:8px;
      /* margin-top:10px;
      margin-bottom: 10px;*/
      margin-right: 80px; 
      text-decoration: none;
      color:white;
      text-align: center;
  }

 .lists a:hover
  {
      background-color: grey
  }
  .fa-home
  {
     position: relative;
     top:-15px;
  } 
  #ig1
  {
      margin-top:10px;
  }
 
  .currentLocationButton
  {
      background-color: rgb(139, 0, 0);
      color:white;
  }
 
 nav{
    position:fixed;
    bottom:0;
    margin:0;
    padding:0;
    overflow: hidden;
 }
 html{
     overflow: hidden;
     height:100%;
     padding:0;
     margin:0;
 }
 body{
    min-height: 100%;
     overflow: auto;
    padding:0;
    margin:0;
 }
.card_body_style
{
    background-color:black;
    height:200px;
    overflow: scroll;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}
.listStyle
{
    width:220px;
}
.eventsList
{
    position: relative;
    top:450px;
}
#signUpBody
{
    background: url('UI_images/eventSignUp.jpeg') no-repeat center center fixed;
    background-size: cover;
}
#signUpCard
{
    width:100%;

}
.infoId1
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#loginBody
{
    background: url('UI_images/loginImage.jpeg') no-repeat center center fixed;
    background-size: cover;
}
#loginCard
{
    width:100%;
}
#contactBody
{
    background: url('UI_images/contactImage.jpeg') no-repeat center center fixed;
    background-size: cover;
}
#careerBody
{
    background: url('UI_images/careers.jpeg') no-repeat center center fixed;
    background-size: cover;
}